In [525]:
#Dependencies and setup
import pandas as pd

In [526]:
# File to Load
school_data_to_load = "../pandas-challenge/PyCitySchools/Resources/04-Pandas_HW_Instructions_PyCitySchools_Resources_schools_complete.csv"
student_data_to_load = "../pandas-challenge/PyCitySchools/Resources/04-Pandas_HW_Instructions_PyCitySchools_Resources_students_complete.csv"

In [527]:
# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [528]:
# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [529]:
#Create a list of schools and Calculate Total Schools
schools_list = school_data_complete["school_name"].unique()
total_schools = len(schools_list)

In [530]:
#Calculate Total Students
total_students = school_data_complete["Student ID"].count()

In [531]:
#Calculate Total Budget
grouped_school = school_data_complete.groupby(["school_name"])
total_budget_unique = grouped_school["budget"].unique()
total_budget = "${0:,.2f}".format(int(total_budget_unique.sum()))

In [532]:
#Average Scores
#Math
average_math = school_data_complete["math_score"].mean()
#Reading
average_reading = school_data_complete["reading_score"].mean()

In [533]:
#Overall Passing Rate
overall_passing = "{0:,.2f}%".format((average_math + average_reading)/2)

In [534]:
#Percentage Passing Scores
#Math
total_passing_math = school_data_complete[school_data_complete["math_score"] >= 70].count()
percentage_math = "{0:,.2f}%".format(total_passing_math["Student ID"]*100/total_students)
#Reading
total_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70].count()
percentage_reading = "{0:,.2f}%".format(total_passing_reading["Student ID"]*100/total_students)

In [649]:
#District Summary
district_summary = pd.DataFrame({"Total Schools": total_schools, 
                                 "Total Students": total_students, 
                                 "Total Budget": total_budget, 
                                 "Average Math Score": average_math, 
                                 "Average Reading Score": average_reading, 
                                 "%Passing Math": percentage_math, 
                                 "%Passing Reading": percentage_reading, 
                                 "%Overall Passing Rate": overall_passing}, index=[0])
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,%Overall Passing Rate
0,15,39170,"$24,649,428.00",78.99,81.88,74.98%,85.81%,80.43%

In [675]:
#Type per school
type_school = grouped_school["type"].unique()
#Remove brackets on results
type_school = type_school.str[0]

In [676]:
#Totla students per school
total_students_byschool = grouped_school["student_name"].count()
total_students_byschool
#Create a Data Frame with Total Students by School and convert to Numeric. This will be used for the passing rates.
total_students_byschool_object = pd.DataFrame(total_students_byschool)
total_students_byschool_object
total_students_byschool_df = pd.to_numeric(total_students_byschool_object["student_name"])

In [677]:
#Total Budget per school
total_budget_byschool = grouped_school["budget"].unique()
#Formatted total budget by school. Different variable to avoid affecting calculations that use the total budget by school
formatted_total_budget_byschool = total_budget_byschool.str[0].map("${:,.2f}".format)

In [678]:
#Budget per student
budget_student_byschool = total_budget_byschool/total_students_byschool
formatted_budget_student_byschool = budget_student_byschool.str[0].map("${:,.2f}".format)

In [679]:
#Average Math Score
average_math_byschool = grouped_school["math_score"].mean()

In [680]:
#Average Reading Score
average_reading_byschool = grouped_school["reading_score"].mean()

In [681]:
#Percentage of Students who passed math
#Count total students who passed math
total_passing_math_byschool = school_data_complete.loc[school_data_complete["math_score"] >= 70]
#Group count by school and convert to Data Frame
grouped_school_math = total_passing_math_byschool.groupby(["school_name"])["math_score"].count()
school_math_object = pd.DataFrame(school_math)
#Convert to int
school_math_df = pd.to_numeric(school_math_object["math_score"])
#Students who passed math divided by all students. Formatted as percentage
percentage_math_byschool = ((school_math_df*100)/total_students_byschool_df)
#Format as percentage. Created new variable for formatted percentage so I can use non-formatted variable in the overall pass rate
formatted_percentage_math_byschool = percentage_math_byschool.map("{:.2f}%".format)

In [682]:
#Percentage of Students who passed reading
#Count total students who passed reading
total_passing_reading_byschool = school_data_complete.loc[school_data_complete["reading_score"] >= 70]
#Group by count school and convert to Data Frame
group_school_reading = total_passing_reading_byschool.groupby(["school_name"])["reading_score"].count()
school_reading = pd.DataFrame(group_school_reading)
#Convert to int
school_reading_df = pd.to_numeric(school_reading["reading_score"])
#Students who passed reading divided by all students
percentage_reading_byschool = ((school_reading_df*100)/total_students_byschool_df)
#Format as percentage. Created new variable for formatted percentage so I can use non-formatted variable in the overall pass rate
formatted_percentage_reading_byschool = percentage_reading_byschool.map("{:.2f}%".format)

In [684]:
#Overall Pass Rate
overall_passing_byschool = pd.DataFrame({"Passing Math": percentage_math_byschool, 
                                         "Passing Reading": percentage_reading_byschool}).mean(axis=1).map("{:.2f}%".format)

In [666]:
#School Summary
school_summary = pd.DataFrame({"School Name": total_schools, 
                                 "School Type": type_school, 
                                 "Total School Budget": formatted_total_budget_byschool, 
                               "Per Student Budget": formatted_budget_student_byschool,
                                 "Average Math Score": average_math_byschool, 
                                 "Average Reading Score": average_reading_byschool, 
                                 "%Passing Math": formatted_percentage_math_byschool, 
                                 "%Passing Reading": formatted_percentage_reading_byschool, 
                                 "%Overall Passing Rate": overall_passing_byschool})
school_summary

,School Name,School Type,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,%Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,15,District,"$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,74.31%
Cabrera High School,15,Charter,"$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,95.59%
Figueroa High School,15,District,"$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,73.36%
Ford High School,15,District,"$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,73.80%
Griffin High School,15,Charter,"$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,95.27%
Hernandez High School,15,District,"$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,73.81%
Holden High School,15,Charter,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,94.38%
Huang High School,15,District,"$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,73.50%
Johnson High School,15,District,"$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,73.64%
Pena High School,15,Charter,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,95.27%
Rodriguez High School,15,District,"$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,73.29%
Shelton High School,15,Charter,"$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,94.86%
Thomas High School,15,Charter,"$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,95.29%
Wilson High School,15,Charter,"$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,95.20%
Wright High School,15,Charter,"$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,94.97%

In [673]:
#Top Performing Schools (By Passing Rate)
top_performing_schools = school_summary.sort_values("%Overall Passing Rate", ascending = False)
top_performing_schools.head()

,School Name,School Type,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,%Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,15,Charter,"$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,95.59%
Thomas High School,15,Charter,"$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,95.29%
Griffin High School,15,Charter,"$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,95.27%
Pena High School,15,Charter,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,95.27%
Wilson High School,15,Charter,"$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,95.20%

In [674]:
#Bottom Performing Schools (By Passing Rate)
bottom_performing_schools = school_summary.sort_values("%Overall Passing Rate", ascending = True)
bottom_performing_schools.head()

,School Name,School Type,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,%Overall Passing Rate
school_name,,,,,,,,,
Rodriguez High School,15,District,"$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,73.29%
Figueroa High School,15,District,"$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,73.36%
Huang High School,15,District,"$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,73.50%
Johnson High School,15,District,"$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,73.64%
Ford High School,15,District,"$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,73.80%